.form-edit{
display:flex;
}

.nav-item{
margin-left:2em;
font-size:22px;
font-weight:bold;
font-family: 'Noto Sans JP', sans-serif

}

.nav{
font-family: 'Roboto', sans-serif;



}
.nav-link{
color:#3A3A2E;
font-size:20px;
font-weight: bold;}

.white{
color:color:#3A3A2E;
}
.nav-link:hover{
color:black;
}

.product_image{
padding:20px;
margin-bottom:10px;
width:20em;
height:10em;
}

/***paragraph***/
p{
font-size:15px;
letter-spacing:2px;
margin-top:15px;
padding:10px;
}

.my-footer{
color:white;
background-color:#505050;
padding:30px;

}

.category-head{
font-size:30px;
color:black;
text-transform:uppercase
}

.my_search_text{
padding-top:20px;
font-size:30px;

}

/*** table ***/

.my_table{
min-width:400px;
font-size:15px;
}

.my_head{
font-weight:normal;
text-transform:uppercase;
letter-spacing:.2em;
background-color:#aqua ! important;

}

.my_title{
font-size:25px;
padding:5px;

}

.my_button{
margin-top:5px;
}
.my_heading{
font-size:8rem;
color:white;
}